.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
rel/files/fifo_zlogin.version
apps/fifo_zlogin/priv/runpty
apps/fifo_zlogin/src/fifo_zlogin_version.hrl
fifo_zlogin.version
*.gz
*.tar
*.txz