{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
 [
  fifo_utils,
  jsx
 ]}.

{relx,
 [{release, {fifo_zlogin, "0.9.2"},
   ['fifo_zlogin',
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args,    "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true},
  {overlay,
   [
    {copy, "share", "share"}
   ]}
 ]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]},
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
 ]
}.
