{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
  [
   fifo_utils,
   jsx,
   {libsniffle, ".*", {git, "http://github.com/project-fifo/libsniffle.git", {branch, "test"}}}
  ]}.

{relx,
 [{release, {'fifo_zlogin', "0.1.0"},
   ['fifo_zlogin',
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true},
  {overlay,
   [{copy, "rel/files/fifo_zlogin", "bin/fifo_zlogin"}]}
 ]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false},
                  {include_erts, true}]}]
  }]
}.
